/code/akshada-mobile-app/Akshada.Mobile/.vs
/code/akshada-mobile-app/Akshada.Mobile/Akshada.Mobile/bin/
/code/akshada-mobile-app/Akshada.Mobile/Akshada.Mobile/obj/
/code/akshada-web-api/Akshada/Akshada.API/bin/
/code/akshada-web-api/Akshada/Akshada.API/obj/
/code/akshada-web-api/Akshada/Akshada.DTO/bin/
/code/akshada-web-api/Akshada/Akshada.DTO/obj/
/code/akshada-web-api/Akshada/Akshada.EFCore/bin/
/code/akshada-web-api/Akshada/Akshada.EFCore/obj/
/code/akshada-web-api/Akshada/Akshada.Repository/obj/
/code/akshada-web-api/Akshada/Akshada.Repository/bin/
/code/akshada-web-api/Akshada/Akshada.Services/bin/
/code/akshada-web-api/Akshada/Akshada.Services/obj/
/code/akshada-web-api/publish/
/docs/
/code/akshada-mobile-app/Akshada.Mobile/
/code/akshada-web-api/Akshada/.vs/
/code/akshada-web-api/Akshada/Akshada.API/uploaddata/
